body{
  background-color: #02010a;
  font-family: Dancing Script;
}

header{
  color: white;
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

header h1{
  padding: 0% 0% 0% 2%;
  width: 40%;
  float: left;
}

.content {
	margin: 0 auto;
   -webkit-animation: slide 1.5s forwards;
}
.sombra {
  box-shadow: 2px 2px 2px #02010a;
}

#opcionesnav{
  width: 50%;
  float: left;
  padding-top: 1%;
}

ul {
	list-style-type: none;
	text-align: right;
	font-size: 1.5em;
}
ul li {
	display: inline;
	padding: 2%;
}
ul li a {
	color: #ffffff;
}

a.visited{
  text-decoration: none;
}

footer {
	background-color: #C6d5c5;
	border-radius: 0 0 10px 10px;
	display: flex;
	flex-flow: row wrap;
}

@media (max-width: 900px) {
.content {
	width: 100%;
}
header {
	min-height: 200px;
}
header h1 {
	width: 100%;
	text-align: center;
}
#opcionesnav {
	width: 100%;
}
ul {
	text-align: center;
}
footer {
	width: 100%;
	min-height: 300px;
}
.caja1, .caja2, .caja3, .caja4 {
	width: 100%;
	height: auto;
	padding: 1%2.5% 1% 2.5%;
}
}

#galeria{
  background-color: #d5c75f;
  display: flex;
  flex-flow: row wrap;
}
@media (min-width: 900px) {
.content {
	width: 900px;
}
header {
	width: 900px;
	min-height: 80px;
}
footer {
	width: 900px;
	min-height: 200px;
}
.caja1, .caja2, .caja3, .caja4 {
	width: 20%;
	height: auto;
	padding: 1%2.5% 1% 2.5%;
}
}
@-webkit-keyframes slide{
  0%{
    margin-top: 150%;
  }60%{
    margin-top: -5%;
  }100%{
    margin-top: 0%;
  }
}
